// Body
$body-bg: #404040;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #82A282;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #F18C96;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #8FAF9F;
$teal: #4dc0b5;
$cyan: #6cb2eb;
